[submodule "remysucre.github.io"]
	path = public
	url = https://github.com/remysucre/remysucre.github.io.git
	branch = master
[submodule "themes/foghorn"]
	path = themes/foghorn
	url = git@github.com:remysucre/foghorn.git
[submodule "themes/blank"]
	path = themes/blank
	url = https://github.com/vimux/blank
